.btn-outline-light
{
    color: #cccccc;
    background-color: transparent;
    background-image: none;
    border-color: #cccccc;
    border-radius: 5px;
}

.rct-node-icon
{
    display:none;
}

.ReactTable .rt-thead .rt-th 
{
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
}


.react-datepicker__time-list
{
    padding:0px;
}

.react-datepicker__time-container 
{
    right: -70px;
    top: 2px;
    position: absolute;
}

.modal{
    overflow: scroll;
}