.rdtPicker {
    top: 110%!important;
}

.date-filter {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1px;
}

.date-filter__buttons {
    right: 0;
    position: absolute;
    transition: right .2s ease;
    top: 0;
    bottom: 0;
    height: 21px;
    outline: none!important;
    margin: auto 0;
    z-index: 20;
}

.date-filter__button {
    background: none;
    border: none;
    outline: none!important;
    padding-left: 0;
    padding-right: 0;
    width: 16px;
}

.date-filter:not(.has-value) .date-filter__button-close,
.date-filter__button.date-filter__button-close {
    display: none!important;
}
.date-filter.has-value:hover .date-filter__button-close {
    display: inline-block!important;
}

.date-filter .rdt.form-control {
    width: calc(100% - 16px)!important;
    padding: 0!important;
    border: 0;
}

.date-filter input.form-control {
    border-radius: 0!important;
}

.date-filter__item {
    list-style: none;
    padding: 4px 8px;
    margin: 2px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

.date-filter__item:hover {
    background: #f0f0f0;
}

.date-filter__item--active {
    background: #dbdbdb;
}

.date-filter__item--active:hover {
    background: #dbdbdb!important;
}

.date-filter .fa {
    color: #696969;
}


.popover.date-filter {
    margin-top: 4px!important;
}

.popover.date-filter .popover-body {
    padding: 4px!important;
}

.popover.date-filter .arrow {
    display: none!important;
}

.date-filter .popover {
    width: calc(100%)!important;
    top: 24px!important;
    left: 0px!important;
    transform: scaleY(1)!important;
    transform-origin: top;
    animation-name: popover-animation;
    animation-duration: .2s;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px;
    padding: 0!important;
}

.date-filter .popover-header {
    background-color: #e4e5e6;
    border-bottom: 1px solid #e4e5e6;
}
.date-filter .popover-header::before {
    border: none!important;
}

@keyframes popover-animation {
    from {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}